In [2]:
import pandas as pd
import sqlite3

In [7]:
con = sqlite3.connect('Edited.sqlite')
data = pd.read_sql_query('select * from Users_table',con,index_col='UserID')

In [12]:
data.drop(['index','q2'],axis=1)

,q1,q3,q4,q5,q6,q7,q8,q9,q10,q11,...,q110,q111,q112,q113,q114,q115,q116,q117,q118,gender
UserID,,,,,,,,,,,,,,,,,,,,,
1,37,United States,Illinois,-1,No,1,6-25,1,Yes,Yes,...,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Female
2,44,United States,Indiana,-1,No,0,More than 1000,0,Don't know,Don't know,...,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Male
3,32,Canada,-1,-1,No,0,6-25,1,No,Don't know,...,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Male
4,31,United Kingdom,-1,-1,Yes,1,26-100,1,No,No,...,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Male
5,31,United States,Texas,-1,No,0,100-500,1,Yes,Don't know,...,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,27,India,-1,0,No,0,More than 1000,0,I don't know,I don't know,...,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Male
4215,48,United States of America,Louisiana,1,No,0,-1,-1,-1,-1,...,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Male
4216,50,India,-1,1,No,0,-1,-1,-1,-1,...,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Male
4217,30,India,-1,0,No,0,More than 1000,1,No,Yes,...,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Female
4218,24,United States of America,Oregon,0,Yes,1,More than 1000,1,Yes,Yes,...,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Not_Avaliable,Female